<%- include("./partials/headerFooter") %>

<section class="home">
  <article class="text">
    <h3>Settings</h3>
    <p class="darkMode">Admin settings for create posts, edit or delete.</p>
    <br />
    <article class="distanceFlex">
      <h4>Create a post</h4>
      <p class="darkMode">Create a blog post</p>
      <button id="btnCreate">Create</button>
      <br />
      <h4>Update a post</h4>
      <p class="darkMode">Update a blog post</p>
      <button id="btnUpdate">Update</button>
      <br />
      <h4>Delete a post</h4>
      <p class="darkMode">Delete a blog post</p>
      <button id="btnDelete">Delete</button>
    </article>
  </article>
</section>
