<!--Unicode landing page-->
<%-include('./partials/settingsHeader.ejs') %>
<body>
  <h1 class="paddingTop">Welcome to MusicLine</h1>
  <h3 class="paddingLeft">Your blog website about music all over the world.</h3>
  <div id="img-vector">
    <img id="imagination" src="/img/undraw_imagination_re_i0xi.svg" />
  </div>
  <br />

  <section class="paddingTop">
    <article class="paddingLeft">
      <h2>Stay tuned!</h2>
      <p>
        Here in <strong>MusicLine </strong ><br />
         brings to you all news from music <br />
        world.
      </p>
    </article>
  </section>
  <br />

  <img id="imagination1" src="/img/undraw_media_player_re_rdd2.svg" />
  <br />

  <section class="paddingTop">
    <article class="paddingRight">
      <h2>Let's get started!?</h2>
      <p>
        How about to shake your world now <br />
        hearing some news!
      </p>
      <button id="letStart">Start</button>
    </article>
    <br />
  </section>
  <br />
  <footer>
    <h1 class="logo">The Music</h1>
    <nav>
      <ul class="nav_links">
        <li><a href="#">Home</a></li>
        <li><a href="#">World of Music</a></li>
        <li><a href="#">Social</a></li>
      </ul>
    </nav>
    <label class="say">
      Say About it:
      <br />
      <br />
      <textarea
        class="content"
        rows="5"
        cols="30"
        placeholder="Type your message..."
      ></textarea>
    </label>
    <br />
    <br />
    <a class="btn" href="#"><button type="submit">Submit</button></a>
    <br />
    <br />
  </footer>
</body>
